.page {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fafafa;
    height: 100vh;
}

.error {
    color: #ff7875;
    font-size: 14px;
    font-weight: 300;
}

.register {
    display: flex;
    flex-direction: column;
}
