.container {
    background: #1677ff;
    display: flex;
    position: fixed;
    top: 0;
    padding: 8px 20px;
    height: 68px;
    width: 100%;
    z-index: 10;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
}

.link_to_profile {
    text-decoration: none;
    color: #fafafa;
    font-weight: 700;
}

.user__email {
    text-decoration: none;
    color: #fafafa;
    font-weight: 700;

    @media screen and (max-width: 565px) {
        display: none;
    }
}

.navbar {
    display: flex;
    gap: 10px;
    align-items: center;
}
