.page__container {
    margin-top: 60px;
}

.user__table {
    width: 100%;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    overflow: hidden;
}

.user__table thead tr {
    background-color: #2196f3;
    color: white;
    text-align: left;
    font-weight: bold;
}

.user__table th,
td {
    padding: 12px 10px;
    text-align: left;
}

.user__table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.child_register_form__container {
    padding: 20px 20px 10px 20px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    background: #F1F1F1;
    border-radius: 12px;
}

.child_register_form__title {
    margin: 0;
    font-size: 18px;
}

.children-table__title {
    margin: 0;
    font-size: 18px;
    font-weight: 500;
}

.child__assigned__book__title {
    font-size: 13px;
    color: #2196F3;
}

.child__assigned__books {
    display: flex;
    gap: 4px;
    flex-wrap: wrap;
}