.student-page__title {
    font-size: 24px;
    margin: 0 20px;

    @media screen and (max-width: 768px) {
        align-items: start;
        margin: 8px 20px;
    }
}

.assigned-books__title {
    margin: 10px 0;
}
.assigned-books-table {
    border-radius: 12px;
    overflow: hidden;
}

.assigned-books-table thead {
    background: #2196F3;
}

.assigned-books-table th {
    padding: 12px 10px;
    color: #fafafa;
}

.misc-col {
    @media screen and (max-width: 768px) {
        display: none;
    }
}