.page {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fafafa;
    height: 100vh;
}

.register {
    display: flex;
    flex-direction: column;
}

.go-to-auth {
    text-decoration: none;
    color: #0958d9;
}
